<footer class="footer">
  <div class="footer-container">
    <div class="footer-top">
      <!-- Brand Section -->
      <div class="footer-brand">
        <img src="assets/images/blocks/logos/Habitatuk_logo_.svg" alt="Pureline Architect Logo" />
        <div class="brand-name">Pureline Architect</div>
        <div class="copyright">&copy; 2025 Pureline Architect. All Rights Reserved</div>
      </div>

      <!-- Contact Info -->
      <div class="footer-contact">
        <div class="address">9 Chigwell Road London E18 1LR United Kingdom</div>
        <div class="contact-item">
          <i class="pi pi-phone"></i>
          <a href="tel:+447733895246">+44 7733 895246</a>
        </div>
        <div class="contact-item">
          <i class="pi pi-inbox"></i>
          <a href="mailto:admin@purelinearchitect.co.uk">adminpurelinearchitect.co.uk</a>
        </div>
      </div>

      <!-- Navigation Links -->
      <div class="footer-links nav">
        <a routerLink="/">Home</a>
        <a routerLink="/" fragment="aboutus">About Us</a>
        <a routerLink="/" fragment="ourservices">Our Services</a>
        <a routerLink="/" fragment="Contactus">Contact</a>
      </div>

      <!-- Policy Links -->
      <div class="footer-links policy">
        <a routerLink="/privacy-policy">Privacy Policy</a>
        <a routerLink="/termsandcondition">Terms and Conditions</a>
      </div>
    </div>



    <!-- Social Media -->
 <div class="social-line">
 

  <div class="social-icons">
    <a href="#"><i class="pi pi-facebook"></i></a>
    <a href="#"><i class="pi pi-linkedin"></i></a>
    <a href="#"><i class="pi pi-instagram"></i></a>
    <a href="#"><i class="pi pi-twitter"></i></a> <!-- or X icon -->
  </div>

</div>

  </div>
</footer>
