<section>
  <app-homelayout></app-homelayout>
</section>

<section id="aboutus">
  <app-about-us></app-about-us>
</section>
<section id="our-service">
  <app-our-service></app-our-service>
</section>

<section class="our-projects-section" id="our-projects">
  <app-our-projects></app-our-projects>
</section>

<section class="our-approach-section" id="our-approach">
  <app-our-approach></app-our-approach>
</section>

<section class="testimonials-section" id="testimonials">
  <app-testimonials></app-testimonials>
</section>

<section class="cta-section" id="cta">
  <app-card-section></app-card-section>
</section>