<nav [ngClass]="{ 'navbar': true,  }">
  <div class="nav-container">
    <!-- Left: Logo -->
    <div class="logo">Arcitech</div>

    <!-- Center: Navigation Links -->
    <ul class="nav-links" [class.show]="mobileMenuOpen">
      <li><a routerLink="/home" routerLinkActive="active-link" (click)="closeMobileMenu()">Home</a></li>
      <li><a routerLink="/projects" routerLinkActive="active-link" (click)="closeMobileMenu()">Projects</a></li>
      <li><a routerLink="/service" routerLinkActive="active-link" (click)="closeMobileMenu()">Services</a></li>
      <li><a routerLink="/about" routerLinkActive="active-link" (click)="closeMobileMenu()">About</a></li>

    </ul>

    <!-- Right: CTA Button -->
    <div class="nav-cta">
      <button class="contact-btn">Contact Us →</button>
    </div>

    <!-- Mobile Hamburger -->
    <div class="hamburger" (click)="toggleMobileMenu()">☰</div>
  </div>
</nav>