<nav class="navbar">
  <div class="logo">PURELINE</div>

  <div class="menu-button" [class.open]="isOpen" (click)="toggleMenu()">
    <div class="line top"></div>
    <div class="line middle"></div>
    <div class="line bottom"></div>
  </div>

  <div class="menu-overlay" [class.active]="isOpen">
    <div class="social-links">
  <a href="#">FACEBOOK</a>
  <a href="#">INSTAGRAM</a>
</div>

    <div class="close-area" (click)="toggleMenu()">
      <span class="close-icon">×</span>
    </div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
