.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.3s ease;

  .nav-container {
    max-width: 1297px;
    margin: 0 auto;
    padding: 2.2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
      padding: 2.8rem 3.5rem;
    }
  }

  .logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    margin-left: 56px;

    @media (max-width: 992px) {
      margin-left: 0;
      font-size: 1.5rem;
    }

    @media (max-width: 600px) {
      font-size: 1.2rem;
    }
  }

  .nav-links {
    display: flex;
    margin-top: 0 !important;
    gap: 3rem;
    list-style: none;
    justify-content: flex-start;
    flex: 2;
    margin-left: 95px;

    li a {
      color: white;
      text-decoration: none;
      font-weight: 400;
      font-size: 20px;

      &:hover {
        color: white;
      }
    }

    .active-link {
      border-bottom: 2px solid white;
    }

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 366px;
      background: rgb(0 0 0 / 70%);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px); // For Safari support

      padding: 2rem;
      padding-top: 4rem;
      margin-left: 0;
      gap: 1.5rem;
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
      transition: left 0.3s ease-in-out;
      z-index: 2000;

      &.show {
        left: 0;
      }

      li {
        width: 100%;
      }

      li a {
        color: #fff;
        width: 100%;
        font-size: 1.6rem;
        font-weight: 800;
      }
       .mobile-logo {
      margin-bottom: 1rem;

      .logo {
        font-size: 1.8rem;
        font-weight: bold;
        color: white;
        margin-left: 0;
      }
    }
    }
  }

  .nav-cta {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .contact-btn {
      padding: 0.9rem 1.2rem;
      background: transparent;
      border: 2px solid white;
      border-radius: 999px;
      color: white;
      font-weight: 500;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: white;
        color: #000;
      }
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  .hamburger {
    display: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;

    @media (max-width: 992px) {
      display: block;
      align-self: flex-end;
      margin-left: auto;
      z-index: 2100; // keep above nav-links
    }
  }

  &.scrolled {
    background: white;

    .logo,
    .nav-links li a,
    .hamburger {
      color: #333;
      margin-top: 0 !important;
    }

    .contact-btn {
      border-color: #333;
      color: #333;

      &:hover {
        background: #333;
        color: white;
      }
    }

    @media (max-width: 992px) {
      .nav-links.show {
        background: #fff;
      }
    }
  }
}
.mobile-only {
  display: none;

  @media (max-width: 992px) {
    display: block;
  }
}