<div #serviceSection>
<div class="stack-section" id="section1 " #serviceCard >
  <div class="section-inner">
    <div class="section-left">
      <div class="section-number">01</div>
      <div class="section-title">
        <h2> ARCHITECTURE</h2>
        <div class="section-title-underline"></div>
      </div>
      <div class="section-content">
        <p>Designing innovative spaces that inspire and function beautifully. I blend creativity and practicality to deliver architectural solutions tailored to your needs.</p>
       
      </div>
    </div>
    <div class="section-right">
      <img src="assets/serviceImages/Architecture.webp" alt="Architecture" />
    </div>
  </div>
</div>
<div class="section-divider"></div>

<div class="stack-section" id="section2" #serviceCard>
  <div class="section-inner">
    <div class="section-left">
      <div class="section-number">02</div>
      <div class="section-title">
        <h2> WEB DEVELOPER</h2>
        <div class="section-title-underline"></div>
      </div>
      <div class="section-content">
        <p>Crafting engaging online journeys with seamless designs, promo websites, and immersive virtual tours. I create memorable digital experiences by guiding visitors through interactive property exploration.</p>
       
      </div>
    </div>
    <div class="section-right">
      <img src="assets/serviceImages/service_interior.webp" alt="Web Developer" />
    </div>
  </div>
</div>
<div class="section-divider"></div>

<div class="stack-section" id="section3"  #serviceCard>
  <div class="section-inner">
    <div class="section-left">
      <div class="section-number">03</div>
      <div class="section-title">
        <h2> INTERIOR DESIGN</h2>
        <div class="section-title-underline"></div>
      </div>
      <div class="section-content">
        <p>Transforming interiors with a blend of style and function. I create spaces that reflect your personality and enhance your lifestyle.</p>
      
      </div>
    </div>
    <div class="section-right">
      <img src="assets/serviceImages/service_interior.webp" alt="Interior Designer" />
    </div>
  </div>
</div>
<div class="section-divider"></div>

<div class="stack-section" id="section4"  #serviceCard>
  <div class="section-inner">
    <div class="section-left">
      <div class="section-number">04</div>
      <div class="section-title">
        <h2> CONSULTANCY</h2>
        <div class="section-title-underline"></div>
      </div>
      <div class="section-content">
        <p>Providing expert advice and strategic solutions for your projects. I help clients navigate complex challenges and achieve their goals with tailored consultancy services.</p>
       
      </div>
    </div>
    <div class="section-right">
      <img src="assets/serviceImages/consultancy.webp" alt="Consultant" />
    </div>
  </div>
</div>
<div class="section-divider"></div>

<div class="stack-section" id="section5" #serviceCard >
  <div class="section-inner">
    <div class="section-left">
      <div class="section-number">05</div>
      <div class="section-title">
        <h2> LANDSCAPING</h2>
        <div class="section-title-underline"></div>
      </div>
      <div class="section-content">
        <p>Designing and creating beautiful outdoor spaces that harmonize with nature. I bring landscapes to life with innovative ideas and sustainable practices.</p>
        
      </div>
    </div>
    <div class="section-right">
      <img src="assets/serviceImages/landscaping.webp" alt="Landscaping Expert" />
    </div>
  </div>
</div>
</div>
<div #floatingBtn class="floating-view-button floating-btn">  Explore<br />services</div>

