<section class="cta-section" #ctaSection>
  <div class="cta-content">
    <h2 class="cta-title">Do You Have Any Ideas About Architecture Project?</h2>
    <p class="cta-description">
      Their ability balance modern design with sustainability resulted in beautiful, functional space that reflects our values. Exploring how architecture can blur the lines between function.
    </p>
    <a class="cta-button" routerLink="/contact">
      <span>Contact Us</span>
      <div class="cta-icon">
        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.39868 2L12.4201 6.07174L8.34839 10.0932" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M0.999923 6.0134L12.3064 6.07124" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </a>
  </div>
  <div class="cta-bg" #parallaxBg></div>
</section>
