<section class="about-us-section" #section>
  <div class="parallax-bg"></div>

  <div class="about-text-container">
    <p class="label">About Pureline Architects</p>
    <h2 class="title">
    Designing Spaces with Purpose, Elegance, Soul, Creativity, and Harmony
    </h2>
    <p class="desc">
      Pureline Architects is an architecture and interior design firm dedicated
      to creating beautiful and functional spaces. We design homes, offices, and
      interiors that reflect each client’s unique needs and style. With a focus
      on quality and detail, we bring ideas to life in a simple yet creative way.
    </p>
    <button class="discover-btn">Discover More →</button>
  </div>
</section>
