<!-- Banner Start
 <div #aboutContainer class="about-us-wrapper">
<section class="banner overflow-hidden">
  <div class="container">
    <div class="banner-box">
      <h1 id="headingBig">D</h1>
      <div class="banner-text">
        <h2 id="headingSmall">Design a Space <br> You Love.</h2>
        <h3 id="headingText">Let’s bring your creative <br> immagination to reality.</h3>
      </div>
      <div class="row gx-0">
        <div class="col-md-6 col-xxl-7 ms-auto">
          <div class="banner-img" id="bannerBigimg">
            <img src="https://www.yudiz.com/codepen/interior-design/banner-img.jpg" class="img-fluid" alt="Image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div> -->
<section class="company-section white-bg position-relative overflow-hidden">
  <h2 class="title text-center">Pureline</h2>
  <div class="container">
  
    <div class="row align-items-stretch">
      
      <div class="col-md-6 align-self-center pb-4 pb-md-5 pb-lg-0">
        <div class="py-lg-5" id="compDescription">
            <h1 class="mb-6">About Us</h1>
          <div class="pb-md-3 paragraph">
            <p>We are proud of our history, our esteemed faculty, and our dedicated professionals, who, year after year, provide the environment and support to help our students realize their dreams.</p>
            <p>School of Interior Design is a private, not-for-profit college devoted to the design of the interior environment. Our guiding principle is that the successful design of an interior space improves human welfare, and that the interior design profession assumes an important role in ensuring that spaces are beautiful, functional, healthy, safe, and built in a socially and environmentally conscientious way.</p>
          </div>
          <!-- <a href="javascript:void(0)" class="common-btn">read more <img src="https://www.yudiz.com/codepen/interior-design/arrow-right.svg" class="img-fluid" alt="Arrow"></a> -->
        </div>
      </div>
      <!-- col -->
      <div class="col-md-6">
        <div class="compy-box mt-4 my-md-0 position-relative">
          <img src="https://www.yudiz.com/codepen/interior-design/company-bg.png" class="img-fluid" alt="Company">
        </div>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
</section>