
@import "prismjs/themes/prism-coy.css";
@import 'primeflex/primeflex.css';
@import "primeicons/primeicons.css";


/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Urbanist', Arial, sans-serif;
   overflow-x: hidden;
}