<div class="wrapper">
  <div class="content">
    <section class="section hero">
      <!-- Step 1 -->
      <div class="hero-card card-1">
        <div>
          Archi-malin propose plusieurs services afin de vous aider dans vos projets architecturaux, à partir de vos
          plans en 2D, de photos et de votre moodboard.
        </div>
        <div class="footer">Graphiste Concepteur 3D Freelance</div>
      </div>


      <!-- Step 2 (Long text block) -->
      <div class="hero-card card-2">
        <p>
          Nos services sont multiples, création de rendus d'images d’intérieurs,
          images de rendu d’extérieur, ou encore des axonométries, le tout en image
          de synthèse de 3D, ainsi que des rendus en 2D si besoin.
        </p>
      </div>
     


       <section class=" about-card" #aboutUsSection>
        <!-- Banner Start -->
        <div #aboutContainer class="about-us-wrapper">
          <section class="banner overflow-hidden">
            <div class="container">
              <div class="banner-box">
                <h1 id="headingBig">D</h1>
                <div class="banner-text">
                  <h2 id="headingSmall">Design a Space <br> You Love.</h2>
                  <h3 id="headingText">Let’s bring your creative <br> immagination to reality.</h3>
                </div>
                <div class="row gx-0">
                  <div class="col-md-6 col-xxl-7 ms-auto">
                    <div class="banner-img" id="bannerBigimg">
                      <img src="https://www.yudiz.com/codepen/interior-design/banner-img.jpg" class="img-fluid"
                        alt="Image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>


      
    </section>
    
  </div>

  <div class="image-container">
    <img class="hero-img" src="assets/home_page_hero.webp" alt="image" />
  </div>
</div>